In [59]:
import pandas as pd

from sklearn.model_selection import StratifiedKFold, cross_val_score

In [2]:
DATA_PATH = '../data'

In [53]:
data = pd.read_csv('{}/train.csv'.format(DATA_PATH))

In [54]:
data.head()

,f_0,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,...,f_73,f_74,f_75,f_76,f_77,f_78,f_79,f_80,f_81,f_82
0,18,14.0,151.0,170.0,12.0,True,True,12.0,0.0,1.0,...,1,0,0,0,0,1,0,0,0,0
1,9,25.0,314.0,282.0,20.0,False,True,13.0,0.0,1.0,...,1,0,1,0,0,0,0,0,0,0
2,11,9.0,73.0,76.0,6.0,False,True,6.0,0.0,1.0,...,1,0,0,0,0,1,0,0,0,0
3,13,7.0,151.0,113.0,11.0,False,True,12.0,1.0,1.0,...,1,0,0,0,0,1,0,0,0,0
4,0,33.0,293.0,381.0,20.0,True,True,20.0,0.0,0.0,...,0,1,0,0,0,1,0,0,0,0

In [57]:
X = data.drop(['target'], axis=1)
y = data['target']

In [64]:
%%time

from lightgbm import LGBMClassifier

score = cross_val_score(LGBMClassifier(),
                        X,
                        y,
                        cv=3,
                        n_jobs=-1)

CPU times: user 53.2 ms, sys: 93.5 ms, total: 147 ms
Wall time: 14 s